@model NewOrder

@{
    ViewBag.Title = "Event Order";
}

@if (Model == null)
{
    <div>There is no such event.</div>
}
else
{
    <h2>@Model.Event.Name</h2>

    using (Html.BeginForm("PlaceOrder", "Orders", new { @id = Model.Event.Id }, FormMethod.Post, new { @id = "order-form" }))
    {
        <fieldset>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group bottom-margin">
                        <img src="~/Content/images/band.jpg" />
                    </div>
                    <div class="input-group bottom-margin-s">
                        <span class="glyphicon glyphicon-map-marker"></span> <label>Location</label> : Seattle
                    </div>
                    <div class="input-group bottom-margin-s">
                        <span class="glyphicon glyphicon-calendar"></span> <label>Date</label> : @String.Format("{0:dd/MMM/yyyy}", @Model.Event.StartDate)
                    </div>
                    <div class="input-group bottom-margin-s">
                        <span class="glyphicon glyphicon-time"></span> <label>Time</label> : @String.Format("{0:hh:mm}", @Model.Event.StartDate)
                    </div>
                    <div class="input-group bottom-margin-s">
                        <span class="glyphicon glyphicon-usd"></span> @Html.LabelFor(model => model.Event.PricePerTicket) : @Html.DisplayFor(model => model.Event.PricePerTicket) @Html.DisplayFor(model => model.Event.Currency)
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <h3 class="no-margin-top">Order</h3>
                    <div class="form-group bottom-margin-s">
                        <span class="glyphicon glyphicon-tags"></span> <label>Number of tickets : </label>@Html.DropDownListFor(model => Model.TicketCount, new SelectList(Enumerable.Range(1, 8)), new { @class = "form-control", @onchange = "updateTotalCost()" })
                    </div>
                    <div class="form-group bottom-margin-s">
                        <span class="glyphicon glyphicon-usd"></span> <label>Total Price :&nbsp;</label><span id="total-cost">@Model.Event.PricePerTicket</span> @Html.DisplayFor(model => model.Event.Currency)
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h3><span class="glyphicon glyphicon-list-alt"></span> Billing</h3>
                    <div class="form-group bottom-margin-s">
                        <label>Email : </label>@Html.EditorFor(model => model.DeliveryEmail, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group bottom-margin-s">
                        <label>Phone Number : </label>@Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group bottom-margin-s">
                        <label>First Name : </label>@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group bottom-margin-s">
                        <label>Last Name : </label>@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group bottom-margin-s">
                        <label>Address : </label>@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group bottom-margin-s">
                        <label>City : </label>@Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group bottom-margin-s">
                        <label>Postal Code : </label>@Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group bottom-margin-s">
                        <label>Country : </label>@Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col-md-4 col-lg-offset-1">
                    <h3><span class="glyphicon glyphicon-credit-card"></span> Credit Card</h3>
                    <div class="form-group bottom-margin-s">
                        <label>Cardholder Name : </label>@Html.TextBox("CardHolderName", string.Format("{0} {1}", Model.FirstName, Model.LastName), new { @class = "form-control" })
                    </div>
                    <div class="form-group bottom-margin-s">
                        <label>Card Number : </label>@Html.TextBox("CardNumber", "1234567890123456", new { @class = "form-control" })
                    </div>
                    <div class="form-group bottom-margin-s">
                        <label>Expiration Month : </label>@Html.DropDownList("CardMonthExpirationDate",
                                                              new SelectList(Enumerable.Range(1, 12)
                                                              .Select(item => new { Text = new DateTime(2000, item, 1).ToString("MMMM"), Value = item }),
                                                              "Value",
                                                              "Text",
                                                              4
                                                              ),
                                                              new { @class = "form-control" })
                    </div>
                    <div class="form-group bottom-margin-s">
                        <label>Expiration Year : </label>@Html.DropDownList("CardYearExpirationDate", new SelectList(Enumerable.Range(DateTime.UtcNow.Year, 10), 2017), new { @class = "form-control" })
                    </div>
                    <div class="form-group bottom-margin-s">
                        <label>Security Code : </label>@Html.TextBox("CardSecurityNumber", "123", new { @class = "form-control" })
                    </div>
                    @Html.HiddenFor(model => model.PaymentProcessorToken)
                    <input type="submit" class="btn btn-primary btn-success" value="Place Order" />
                </div>
            </div>
        </fieldset>
    }

}
@*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })*@
@section scripts
{
    <script type="text/javascript">
        function callPaymentProcessor() {
            var d = new Date().getTime();
            var uuid = 'xxxxxxxx-xxxx-xxxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = (d + Math.random()*16)%16 | 0;
                d = Math.floor(d/16);
                return (c=='x' ? r : (r&0x3|0x8)).toString(16);
            });
            return uuid;
        };

        function updateTotalCost() {
            $("#total-cost").text(@Model.Event.PricePerTicket * $("#TicketCount").val());
        };

        var orderForm = $("#order-form"); 
        orderForm.submit(function (event){
            $("#PaymentProcessorToken").val(callPaymentProcessor());
            orderForm.submit();
        });
    </script>
}
