@model IList<LoadSimulationStatus>

@{
    ViewBag.Title = "Simulation Status";
}

<h2>@ViewBag.Title</h2>

@if (Model == null || Model.Count == 0)
{
    <div>The is no simulation info</div>
}
else
{
    <table class="table-hover data-table">
        <tr>
            <th class="data-table-head">Partition Id</th>
            <th class="data-table-head">Partition Status</th>
            <th class="data-table-head">Node Name</th>
            <th class="data-table-head">Health State</th>
            <th class="data-table-head">Items in Queue</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PartitionId</td>
                <td>@item.PartitionStatus</td>
                <td>@item.NodeName</td>
                <td>@item.HealthState</td>
                <td>@item.ItemsInQueue</td>
            </tr>
        }
    </table>
}
